.container{
    
    font-size: 72px;
    color: aqua;
    text-align: center;
    display: block;
    
}
@media (max-width:300px) {
    #box-1{
        display: block;
        background-color: blueviolet;
    }
}
@media (max-width:500px) and (min-width:300px){
    #box-2{
        display: block;
        background-color: red;
    }
}

